<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
    <h1>index is working</h1>
    <form action="/registration" method="post">
        <label>Name: <input name="username"></label><br>
        <label>Email: <input name="email"></label><br>
        <label>Passw: <input name="password"></label><br>
        <label>Role:
        <select name="role">
            <option disabled>ROLE:</option>
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
        </select>
        </label><br>
        <input type="submit" value="send">
    </form>
</body>
</html>